recursive-include misc *
recursive-include mac *.py
recursive-include mac/gamera.pkg *.*
recursive-include mac/wxPython.pkg *.*
recursive-include doc gendoc.py
recursive-include doc/src *.txt *.png
recursive-include doc/html *.css
recursive-include gamera/pixmaps *.png *.py *.bmp
recursive-include gamera/test *.tiff
recursive-include src *.cpp *.c *.h makefile.* *.hpp *.txt ANNOUNCE CHANGES INSTALL KNOWNBUG LICENSE README TODO Y2KINFO
recursive-include include *.hpp *.hxx
include INSTALL LICENSE ACKNOWLEDGEMENTS MANIFEST.in setup.cfg gamera_post_install.py version





